<!-- Show products in a table with Image -->
<html>
<head>
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <!-- Add product button -->
    <a href="/addproduct">Add Product</a>
    <table border="1">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
        <% if(products.length == 0) { %>
            <tr>
                <td colspan="5">No products found</td>
            </tr>
        <% } %>
        <% for (var i = 0; i < products.length; i++) { %>
            <tr>
                <td><img src="<%= products[i].image %>" width="100" height="100"></td>
                <td><%= products[i].title %></td>
                <td><%= products[i].price %></td>
                <td><%= products[i].description %></td>
                <td><%= products[i].category %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>